
/*
 * Programmer:       Nathaniel Merck
 * Title:            style sheet page for Group Website Project
 * Date:             4/6/2017
 */

/*	for the head	*/

header {
    background: rgb(33, 33, 33);
    height: 139px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

body {
    margin: auto;
    background: rgb(33, 33, 33);
}

section {
    position: relative;
    min-height: 565px;

    margin: auto;
    object-fit: fill;
    /* background: rgb(23, 23, 23); */
    background: rgb(33, 33, 33);
}


h1 {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
}

/*
h2 {
    font-size: 30px;
    color: white;
}

h3 {
    font-family: Andale Mono, monospace;
}

h4 {
    color: white;
    font-family: Andale Mono, monospace;
}
*/

/* nav bar */

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    text-decoration: none;
}

input {
    height: 30px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    font-family: inherit;
}

nav ul li a:hover {
    box-shadow: -5px 5px 5px rgb(237, 28, 36);
    background: rgb(33, 33, 33);
    font-size: 30px;
}

nav ul li {
    height: 50px;
}

nav ul {
    list-style-type: none;
}

footer, head, body {
    width: 100%;
}

#icon {
    width: 35px;
    position: absolute;
    top: 45px;
    right: 65px;
}

#logo {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 12px;
    top: 18px;
}


#line {
    width: 95%;
    height: 1px;
    background: white;
    position: relative;
    margin: auto;
}

#welcome {
    font-size: 20px;
    font-style: italic;
    position: absolute;
    right: 115px;
    top: 57px;
    padding: 0px;
    color: white;
}

footer {
    /* background: rgb(0, 0, 0); */
    background: rgb(33, 33, 33);
    height: 40px;
    text-align: center;
    font-family: monospace;
    color: rgb(237, 36, 20);
    font-size: 15px;

    bottom: 0;
}


#space {
    height: 50px;
}

#space1 {
    height: 140px;

    width: 85%;
    position: relative;
    margin: auto;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: rgb(237, 28, 36);
}


#posFixed {
    position: fixed;
}

#posRelative {
    position: relative;
}

#bottomLineFixed {
    width: 95%;
    height: 1px;
    background: white;
    margin: auto;

    position: fixed;
    bottom: 40px;
}

#bottomLineRelative {
    width: 95%;
    height: 1px;
    background: white;
    margin: auto;

    position: relative;
    bottom: 1px;
}

a {
    color: rgb(237, 36, 20);
    font-size: 20px;
    font-weight: bold;
}

#bottomLine {
    width: 95%;
    height: 1px;
    background: #ffffff;
    margin: auto;
    /* text-align: center; */
    /* position: fixed; */
    bottom: 40px;
}
