
/*
 * Programmer:       Nathaniel Merck
 * Title:            style sheet page for Group Website Project
 * Date:             4/6/2017
 */

/*	for the head	*/

header {
    /* background: rgb(0, 0, 0); */
    background: rgb(33, 33, 33);
    height: 139px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

body {
    margin: auto;
    background: rgb(33, 33, 33);
}

section {
    position: relative;
    min-height: 565px;

    margin: auto;
    object-fit: fill;
    /* background: rgb(23, 23, 23); */
    background: rgb(33, 33, 33);
}


h1 {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
}

h2 {
    font-size: 30px;
    color: white;
}

h3 {
    font-family: Andale Mono, monospace;
}

h4 {
    color: white;
    font-family: Andale Mono, monospace;
}
/* nav bar */

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", Monaco, monospace;
}

a {
    text-decoration: none;
}

input {
    height: 30px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid black;
    font-family: inherit;
}

nav ul li a:hover {
    box-shadow: -5px 5px 5px rgb(237, 28, 36);
    background: rgb(23, 23, 23);
    font-size: 30px;
}

nav ul li {
    height: 50px;
}

nav ul {
    list-style-type: none;
}

footer, head, body {
    width: 100%;
}


#icon {
    width: 35px;
    position: absolute;
    top: 45px;
    right: 65px;
}

#logo {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 12px;
    top: 18px;
}

#line {
    width: 95%;
    height: 1px;
    background: white;
    position: relative;
    margin: auto;
}


footer {
    /* background: rgb(0, 0, 0); */
    background: rgb(33, 33, 33);
    height: 40px;
    text-align: center;
    font-family: monospace;
    color: rgb(237, 36, 20);
    font-size: 15px;

    bottom: 0;
}

#posFixed {
    position: fixed;
}

#posRelative {
    position: relative;
}

#bottomLineFixed {
    width: 95%;
    height: 1px;
    background: white;
    margin: auto;

    position: fixed;
    bottom: 40px;
}

#bottomLineRelative {
    width: 95%;
    height: 1px;
    background: white;
    margin: auto;

    position: relative;
    bottom: 1px;
}


#bottomLine {
    width: 95%;
    height: 1px;
    background: #ffffff;
    margin: auto;
    /* text-align: center; */
    /* position: fixed; */
    bottom: 40px;
}


#welcome {
    font-size: 20px;
    font-style: italic;
    position: absolute;
    right: 115px;
    top: 57px;
    padding: 0px;
}


#space {
    height: 50px;
}

#space1 {
    height: 200px;

    width: 85%;
    position: relative;
    margin: auto;
    text-align: center;
}

#logOutSubmit {
    border-radius: 10%;
    background-color: rgb(237, 28, 36);
    color: white;
    border: rgb(237, 28, 36);
    width: 100px;
    height: 30px;
    position: relative;
    font-size: 16px;
    font-family: monospace;
}

#signOutForm {
    text-align: center;
}

#enrollH2 {
    text-align: center;
    margin-bottom: 20px;
}

#yourEnrollment {
    text-align: center;
    margin-bottom: 20px;
}

#enrolledTable {
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    font-size: 20px;
}

#classID {
    text-align: center;
    border-bottom: 1px solid white;
    width: 60%;
    margin: auto;
    /* margin-bottom: 50; */
    height: 130px;
}

#classIDInput {
    width: 300px;
    margin-bottom: 20px;
}

#classIDSubmit {
    border-radius: 10%;
    background-color: rgb(237, 28, 36);
    color: white;
    border: rgb(237, 28, 36);
    width: 100px;
    height: 30px;
    position: relative;
    font-size: 16px;
    font-family: monospace;
}

table {
    text-align: center;
    border: 1px solid rgb(23, 23, 23);

}

thead {
    color: rgb(237, 28, 36);
    /*font-family: monospace;*/
}

tbody {
    color: white;
}

tr {
    height: 40px;
    letter-spacing: 1px;
}

a {
    color: white;
}

a:hover {
    color: rgb(237, 28, 36);
}


/*	this beautiful css restricts users to
	select anything with the class
	name: "unselectable"
	// Example:   class="unselectable"
 */

*.unselectable {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}