#resetPassword {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
#resetPasswordForm {
    width: 60%;
    margin: auto;
}
#resetPasswordForm table {
    width: 100%;
}

/*	this beautiful css restricts users to
	select anything with the class
	name: "unselectable"
	// Example:   class="unselectable"
 */

*.unselectable {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}